In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import pandas which is a library and it contains the functions related to the database

In [7]:
dataset=pd.read_csv("Mall_Customers.csv")
#read the excel sheet using read_csv and store in a variable 'dataset'

In [8]:
dataset
#run the variable and verify the excel datas are fetched and stored in the variable

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [9]:
X = dataset.iloc[:,[3,4]].values#[3,4] means, 3rd and 4th column
#Eg to cover first 5 rows and column 1 to  is "dataset.iloc[0:5,1:4]].values"
#Training set and Test set is available in Supervised learning
#But only Training set is available in Unsupervised Learning
#independent=dataset[["YearsExperience"]]

In [10]:
from sklearn.cluster import AffinityPropagation
aff = AffinityPropagation(random_state=5).fit(X)
y_aff = aff.fit_predict(X)

TypeError: __init__() got an unexpected keyword argument 'random_state'

In [ ]:
supervised = pd.DataFrame(dataset)#Convert particular dataset into supervised learning

In [ ]:
supervised['Cluster_Group']=y_aff#adding a column "Cluster_Group" to existing predicted table "y_aff"

In [ ]:
supervised

In [ ]:
import seaborn as sns #seaborn is used to draw graphs
facet = sns.lmplot(data=supervised, x=supervised.columns[3], y=supervised.columns[4], hue=supervised.columns[5], 
                   fit_reg=False, legend=True, legend_out=True)#hue is used to give colors

In [ ]:
#!pip install seaborn